
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<!-- banner -->
<div class="banner">
    <!--Slider-->
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="slider-img">
                        <img src="images/banner1.jpg" class="img-responsive" alt="Gaming Wonderland">
                    </div>
                    <div class="slider-info">

                        <h4>phantom assassin - female - game </h4>
                        <p>World building is component of fantasy </p>
                        <a href="#about" class="hvr-shutter-in-horizontal scroll">Read More</a>
                    </div>
                </li>
                <li>
                    <div class="slider-img">
                        <img src="images/banner2.jpg" class="img-responsive" alt="Gaming Wonderland">
                    </div>
                    <div class="slider-info">

                        <h4>girl - ears - art - light</h4>
                        <p>World building is component of fantasy </p>
                        <a href="#about" class="hvr-shutter-in-horizontal scroll">Read More</a>
                    </div>
                </li>
                <li>
                    <div class="slider-img">
                        <img src="images/banner3.jpg" class="img-responsive" alt="Gaming Wonderland">
                    </div>
                    <div class="slider-info">

                        <h4>pegasus - horse - flowers</h4>
                        <p>World building is component of fantasy </p>
                        <a href="#about" class="hvr-shutter-in-horizontal scroll">Read More</a>
                    </div>
                </li>


            </ul>

        </div>
        <div class="clearfix"></div>
    </div>
    <!--//Slider-->
</div>
<!-- //banner -->
<!-- Modal1 -->
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Contracts</h4>
                <img src="images/ab.jpg" alt=" " class="img-responsive">
                <h5>Donec lobortis pharetra dolor</h5>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable. If you
                    are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                    the middle of text.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal1 -->