@model OMMIPL.Models.Admin

@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@*<h2 style="text-align:center;margin-top:50px;margin-bottom:120px;">Welcome To  Admin Dashboard</h2>*@

	<!-- gallery -->
<div class="team-bottom" id="work">
    <div class="container">
        <h3 class="w3l_head w3l_head1">Welcome to Admin Dashboard</h3>
        @*<p class="w3ls_head_para w3ls_head_para1"></p>*@
        <div class="w3layouts_gallery_grids">
        </div>
    </div>
</div>
<!-- //gallery -->