@model OMMIPL.Models.Admin

@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- gallery -->
<div class="team-bottom" id="work">
    <div class="container-fluid">
        <h2 class="text-center">Welcome to Admin Panel</h2>
    </div>
</div>

