@model OMMIPL.Models.User
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="mail" id="mail">
    <div class="container">
        <div class="w3_mail_grids">
            @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "form1" }))
            {
                <div class="row">
                    <p style="color:red;">
                        @TempData["Msg"]
                    </p><br /><br />
                    <div class="col-md-4 w3_agile_mail_grid">
                        <label>Old Password</label>
                        @Html.TextBoxFor(m => m.oldPassword, new { @class = "input__field", @placeholder = "Old Password" })
                    </div>
                    <div class="col-md-4 w3_agile_mail_grid">
                        <label>New Password</label>
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "input__field", @placeholder = "New Password" })
                    </div>
                    <div class="col-md-4 w3_agile_mail_grid">
                        <label>Confirm Password</label>
                        @Html.TextBoxFor(m => m.CfPassword, new { @class = "input__field", @placeholder = "Confirm Password" })
                    </div>
                    <div class="col-md-4 w3_agile_mail_grid">
                        <input type="submit" id="btnsave" value="Change Password" style="margin-top:25px;" onclick="return ValidateForm();">
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function ValidateForm() {
        debugger;
        $(".errortext").removeClass("errortext");
        if ($("#oldPassword").val() == "") {
            $('#oldPassword').addClass('errortext');
            $('#oldPassword').focus();
            return false;
        }
        if ($("#NewPassword").val() == "") {
            $('#NewPassword').addClass('errortext');
            $('#NewPassword').focus();
            return false;
        }
        if ($("#CfPassword").val() == "") {
            $('#CfPassword').addClass('errortext');
            $('#CfPassword').focus();
            return false;
        }
    }
</script>



